@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap');

  @keyframes fade-inout{
    0%{opacity: 1; transform: translate(1px) scale(1);}
    100%{opacity: 0;transform: translate(0px) scale(1);}
  }

  .fade{
    animation: fade-inout 1.5s alternate-reverse;
    font-size: 3.5em;
}
.fade2{
    animation: fade-inout 0s alternate-reverse;
    font-size: 5em;
}

  
* {
    Margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



.body {
    min-height: 100vh;
    /*background: url('pics/aldous.png') no-repeat;*/

   
    background-size: cover;
    background-position: center;
    text-align:left; 




}
.flex{
    display: flex;
    text-align: center;
}
.qoute1{
    font-size:40px ;
    color: purple;
}
.qoute2{
    font-size:40px ;
    color: green;
}
.qoute3{
    font-size:40px ;
    color: black;
}

.cheat1{
background-color: transparent;
font-size: 120px;

}

.test{

margin: auto;
  width: 100%;
  border: 3px solid black;
  padding: 10px;
  display:flex;
  border-radius: 10px;
}
.logo {
    display: inline-block;
    vertical-align: top;
    
}
.logo2{
   
    border-radius: 4px;
    padding: 5px;
    width: 250px;
}

.sizesize{
    
    border-radius: 4px;

    width: 700px;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {

    top: 90%;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: transparent;
    border-radius: 5px;
    width: 290px;
    height: 75px;
    color: black;
    border: 2px solid #050505;
    font-size: 22px;
    position: relative;
}

.border{
  
    transform: translate(10%, 75%);
    border-radius: 10px;
    width: 1000px;
    height:250px;
    color: black;
    border: 2px solid #050505;
    font-size: 22px;
    position: relative;
}
.border2{
  
    transform: translate(-6%, 350%);
    border-radius: 10px;
    width: 800px;
    height:150px;
    color: black;
    border: 2px solid #050505;
    font-size: 22px;
    position: relative;
}

.header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 100px;
    background-color:transparent;
    /* display flex - isang linya ng headers horizonal */
    display: flex;
    /* justify content - ihiwalay ang logo sa mga headers (home, contact, etc.) exmple: logo                home about etc. */
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  
}
header
{
   
    padding: 5px 100px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.navbar a{
    /*position relative - simpleng animation sa home yung puting linya. Remove mo kung  buong navbar may linya */
    position: relative;
    font-size: 20px;
    color:black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 60px;
    
}

.navbar a::before{
        content:'';
        position: absolute;
        top:100%;
        left: 0;
        /*width 0 start animation */
        width: 0;
        height: 2px;
        background: black;
        transition: .3s;
    
}
    
    .navbar a:hover:before{
        /*width 100 show animation */
        width: 100%;
}